<% @title="In Balans" %>
<br>
<div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-6">
                  <h1 class="page-header text-center font-size: 30px">Cursus: In Balans</h1>


                  <h4>Wat is In Balans? </h4><br>
                  <p class="section-paragraph">
                  In Balans is een groepsinterventie gericht op
                  het voorkomen van valongevallen bij ouderen (65+). In de cursus wordt
                  gewerkt aan bewustwording van risicofactoren voor vallen,
                   verbetering van de balans, mobiliteit en toename
                  van zelfvertrouwen en ontspanning tijdens het algemeen dagelijks leven (ADL).
                 </p>
                 <h4>Voor wie? </h4><br>
                 <p>
                  De cursus is gericht op zelfstandig wonende ouderen van 65 jaar en ouder die zich onzeker
                  op de been voelen tijdens het lopen, bang zijn om te vallen en/of al vaker zijn gevallen
                  (pre-frail; enigszins kwetsbaar).
                  </p>
                  <h4>Het programma </h4><br>
                  <p>
                   De cursus bestaat uit 3 bijeenkomsten van 2 uur. Deze bestaan
                   uit 50% theorie en 50% praktijk. In het theorie gedeelte worden
                   de deelnemers bewust gemaakt van de valrisico factoren,
                   oorzaken van balansverstoringen en krijgen ze tips en adviezen
                   voor het voorkomen van een val.
                   Het beweegprogramma is gericht op het verbeteren van de algehele fitheid,
                   spierkracht en balans en biedt gerichte training voor opstaan en lopen.
                  </p>
                  <h4>Waarom In Balans? </h4><br>
                  <p>
                  Uit onderzoek is bekend dat beweegprogramma’s die gericht zijn op het verbeteren van balans,
                  spierkracht en mobiliteit  het meest effectief om valrisico’s te verkleinen.
                  In Balans is erkend door het Centrum Gezond Leven (RIVM/CGL).
                  In Balans is ontwikkeld op basis van kennis uit wetenschappelijk onderzoek naar
                  effectieve valpreventie. Uit onderzoek blijkt dat ouderen na het volgen van de
                  cursus maar liefst 61% minder kans maken om te vallen en dat hun valangst met 37% afneemt.
                  </p>
                  <h4>Wat zijn de kosten? </h4><br>
                  <p>
                  De kosten van het geven van In Balans zijn afhankelijk van o.a. de groepsgrootte, de kosten van de
                  locatie, docenten, catering (kopje koffie/thee achteraf). Een aantal zorgverzekeraars vergoeden de cursus 
                   vanuit het aanvullend pakket.</p>
                  </p>
              </div>
          <div class="col-lg-1">
        </div>

<div class="col-lg-3">
    <br><br><br><br><br><br><br><br><br><br>
    <h4 class="section-lead text-center">Valpreventie voor ouderen</h4>
  <%=   image_tag("balans.jpg", :size=> "350x400")%>
          </div>
          </div>
<br><br><br><br><br><br><br><br><br><br><br>
